.venv
__pycache__
*.pyc
.git
.gitignore
.env

node_modules
frontend/node_modules
frontend/dist

data/bronze
data/silver
data/spark_output
data/raw

warehouse
data/warehouse

analytics/outputs

airflow/logs/
airflow/logs/**
airflow/.env

*.parquet
*.csv
*.log

.pytest_cache
.mypy_cache
.ipynb_checkpoints